<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="SmokeSuite" parallel="tests">
    <test name="tests.SmokeTestsChrome" parallel="methods" thread-count="3">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.AddToCartTests">
                <methods>
                    <include name="checkThatItemsAddingToCart"/>
                    <include name="checkThatItemsRemovingFromCart"/>
                </methods>
            </class>
            <class name="tests.AdvancedSearchTests">
                <methods>
                    <include name="checkPriceFilterInAdvancedSearch"/>
                </methods>
            </class>
            <class name="tests.SearchTests">
                <methods>
                    <include name="checkThatProductNamesMatchesToSearchRequest"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="tests.SmokeTestsFirefox" parallel="methods" thread-count="3">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.AddToCartTests">
                <methods>
                    <include name="checkThatItemsAddingToCart"/>
                    <include name="checkThatItemsRemovingFromCart"/>
                </methods>
            </class>
            <class name="tests.AdvancedSearchTests">
                <methods>
                    <include name="checkPriceFilterInAdvancedSearch"/>
                </methods>
            </class>
            <class name="tests.SearchTests">
                <methods>
                    <include name="checkThatProductNamesMatchesToSearchRequest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
